.work-traces {
	.company-logo {
		display: flex;
		justify-content: center;
		filter: grayscale(0.3);
		align-items: center;
		opacity: 0.8;
		transition: 500ms;
		margin-bottom: 4rem;
		margin-top: 4rem;
		img {
			width: 180px;
		}
		&:hover {
			opacity: 1;
			filter: grayscale(0);
		}
	}
}
