@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
// import img from "./../../assets/images/scr.webp";
// import gtaImg from "./../../assets/images/scr-gta.webp";

.about {
  min-height: 100vh;

  .container {
    margin-top: 5rem;
    position: relative;

    .image-block {
      &:hover {
        .photo-frame {
          .dp {
            border-radius: 75px 75px 0px 75px;
            margin-left: 0px;
            box-shadow: 30px 15px 50px -30px #000;
          }
          img {
            width: 320px;
            left: 150px;
            height: 480px;
            transform: scale(1, 1);
            filter: drop-shadow(5px 0px 0px rgba(299, 137, 28, 1));
          }
        }
      }

      .photo-frame {
        position: relative;
        .dp {
          transition: 250ms;
          width: 320px;
          height: 480px;
          background-image: url('../../assets/images/scr-gta.webp');
          background-size: cover;
          background-position: center;
          border-radius: 75px 75px 0px 75px;
          margin-left: 20px;
          &:hover {
            background-position: center;
            filter: brightness(0.8) contrast(1.3);
            background-image: url('../../assets/images/scr.webp');
          }
        }
        img {
          transition: 500ms;
          width: 320px;
          height: 480px;
          position: absolute;
          left: 40px;
          top: 20px;
          z-index: -1;
          transform: scale(0, 0);
        }


      }

      p {
        color: #aaaaaa;
        ul {
          li {
            list-style: none;
            margin: 7px 0px;
            div {transition: 250ms;}
            &:hover {
              div {
                transform: scale(1.4);
              }
            }
          }
        }
      }

      p.caption {
        color: #cccccc;
      }
    }

    .theme-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 320px;
      margin: 5rem auto;
    }

    .blockquote {
      h1 {
        font-family: 'Sacramento', cursive;
        font-size: 5rem;
        // color: rgba(299, 137, 28, 1);
      }
      p {
        font-size: 3rem;
        font-weight: 300;
        color: #ffffff;
      }
    }

    .skill-set {
      margin-top: 10rem;
      margin-bottom: 6rem;
      position: relative;
      overflow: hidden;

      .block {
        position: relative;
        display: flex;
        justify-content: center;
        h2 {
          font-size: 8em;
          font-family: 'Anybody', cursive;
          margin-bottom: 0;
          &:nth-child(1) {
            color: transparent;
            -webkit-text-stroke: 2px rgba(299, 137, 28, 1);
          }

          &:nth-child(2) {
            top: 0;
            position: absolute;
            color: rgba(299, 137, 28, 1);
            animation: animate 4s ease-in-out infinite;
          }
        }
      }
      .logo-group{
        // position: relative;
        // z-index: 1;
        // &::before {
        //   position: absolute;
        //   z-index: -1;
        //   content: " ";
        //   background-color: rgba(299, 137, 28, 1);
        //   width: 300px;
        //   height: 4px;
        //   bottom: 23px;
        // }
        display: flex;
        gap: 100px;
        justify-content: center;
        margin-bottom: 9rem;
        .logo {
          margin-top: 3rem;
          margin-bottom: 10px;
          transition: 250ms;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          .caption {
            color: rgba(299, 137, 28, 1);
            transition: inherit;
            position: absolute;
            opacity: 0;
            font-size: 23px; 
            font-weight: 500;
            bottom: -80px;
            width: 200px;
            text-align: center;
          }
          img{
            height: 160px;
            transition: 250ms;
          }
          &:hover {
            .caption {
              opacity: 1;
            }
            img {
              filter: drop-shadow(0px 0px 54px rgba(299, 137, 28, 1));
            }
          }
        }
      }

      .skill {
        // border-bottom: 1px solid;
        position: relative;

        .logo-bg {
          width: 198px;
          height: 230px;
          position: absolute;
          top: 0;
          left: 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-position-x: 75%;
          opacity: 0;
          transition: opacity 0.3s,
            transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
          /* This places the cursor in the center of the image. Divide the width and height by 2 to get the top and left offsets :) */
          margin: -115px 0 0 -99px;
          overflow: hidden;
          pointer-events: none;
          z-index: 2;
        }

        &:hover {
          h2 {
            -webkit-text-stroke: 0.012em rgba(299, 137, 28, 1);
            color: rgba(299, 137, 28, 1);

            &::after {
              opacity: 1;
              z-index: 3;
            }
          }

          .logo-bg {
            opacity: 1;
          }
        }

        h2 {
          &::after {
            content: attr(data-item-text);
            position: absolute;
            left: 0;
            top: 0;
            -webkit-text-stroke: 0.012em rgba(299, 137, 28, 1);
            color: transparent;
            opacity: 0;
            transition: opacity 0.5s ease;
            z-index: 0;
          }

          font-family: 'Anybody',
          cursive;
          width: 200vw;
          font-size: 10em;
          text-transform: uppercase;
          color: transparent;
          -webkit-text-stroke: 0.01em white;
          transition: -webkit-text-stroke 0.5s ease,
          color 0.5s ease;
          position: relative;
        }
      }
    }
  }
}

.dark {
  .container {
    .image-block {
      &:hover {
        .blockquote {
          h1 {
            text-shadow:
              // 0 0 7px #fff,
              // 0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px rgba(299, 137, 28, 1),
              0 0 82px rgba(299, 137, 28, 1),
              0 0 92px rgba(299, 137, 28, 1),
              0 0 102px rgba(299, 137, 28, 1),
              0 0 151px rgba(299, 137, 28, 1);
          }
        }
      }
      p {
        color: #aaaaaa;
      }

      p.caption {
        color: #fff;
      }
    }

    .blockquote {
      p {
        font-size: 3rem;
        font-weight: 300;
        color: #ffffff;
      }
    }

    .skill-set {
      .skill {
        h2 {
          -webkit-text-stroke: 0.01em white;
        }
      }
    }
  }
}

.light {
  .container {
    .image-block {
      p {
        color: #333;
      }

      p.caption {
        color: #555;
      }
    }

    .blockquote {
      p {
        font-size: 3rem;
        font-weight: 300;
        color: #000;
      }
    }

    .skill-set {
      .skill {
        h2 {
          -webkit-text-stroke: 0.01em black;
        }
      }
    }
  }
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.60em;
  /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: rgb(77, 73, 71);
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked+.switch-left {
  background-color: rgba(299, 137, 28, 1);
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked+.switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked+.switch-left+.switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked+.switch-left+.switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus+.switch-left {
  color: #333;
}

input:checked:focus+.switch-left {
  color: #fff;
}

input:focus+.switch-left+.switch-right {
  color: #fff;
}

input:checked:focus+.switch-left+.switch-right {
  color: #333;
}