.about {
	min-height: 100vh;
	.image-block {
		img {
			width: 70%;
			filter: grayscale(1);
			border-radius: 15px 15px 0px 15px;
			transition: 500ms;
			// box-shadow: 0px 30px 50px -50px transparent;
			border: 1px solid transparent;
			&:hover {
				filter: grayscale(0.25);
				box-shadow: 0px 30px 50px -50px #fff;
				border-color: #fff;
			}
		}
		p {
			color: #aaaaaa;
		}
		p.caption {
			color: #cccccc;
		}
	}
	.blockquote {
		p {
			font-size: 3rem;
			font-weight: 300;
			color: #ffffff;
		}
	}
	.skill-set {
		margin-top: 6rem;
		margin-bottom: 3rem;
		.block {
			text-align: center;
			.name {
				font-size: 1.3rem;
				padding-bottom: 1rem;
			}
			.circle {
				.CircularProgressbar {
					width: 100px;
				}
			}
		}
	}
}
