.story {
	min-height: 100vh;
	.image-block {
		img {
			width: 100%;
			border-radius: 10px;
			filter: grayscale(100);
			opacity: 0.7;
			transition: 500ms;
			border: 2px solid transparent;
			&:hover {
				filter: grayscale(0);
				border: 2px solid #fff;
			}
		}
		p {
			color: #aaaaaa;
		}
		p.caption {
			color: #cccccc;
		}
	}
	.blockquote {
		p {
			font-size: 3rem;
			font-weight: 300;
			color: #ffffff;
		}
	}
	.btn {
		border: none;
		box-shadow: none;
		border-radius: 0px;
		&.btn-outline-primary {
			color: #fff;
			&:hover {
				color: #000000;
				background-color: rgba(255, 255, 255, 0.8);
			}
		}
	}
}
