.title {
  font-family: 'Anybody', cursive;
  padding: 3rem 0rem 3rem;
}

.position-sticky {
  /* position: sticky !important; */
  top: 0;
  z-index: 2;
  font-weight: 900;
  /* border-bottom: 1px solid; */
  text-align: center;
}

.theme-switch {
  position: fixed;
  z-index: 5;
  transition: 500ms;
  right: 0;
  bottom: 0;
  padding: 15px 15px 10px;

  &:hover {
    background-color: rgba(299, 137, 28, 1);
  }
}