.timeline {
  min-height: 80vh;

  .dot-label {
    font-size: 0.9rem;
    color: #aaaaaa;
  }

  .content {
    &.left {
      &::before {
        content: "";
        position: absolute;
        left: -50vw;
        top: 150px;
        width: 45vw;
        height: 3px;
        border-radius: 1.5px;
      }
    }

    &.right {
      &::before {
        content: "";
        position: absolute;
        right: -50vw;
        top: 150px;
        width: 45vw;
        height: 3px;
        border-radius: 1.5px;
      }
    }

    margin: 10rem 0rem;

    .media {
      align-items: center;

      &:hover {
        .media-left {
          img {
            filter: grayscale(0);
            // box-shadow: 0px 0px 0px 20px rgba(299, 137, 28, 1);
          }
        }

        .media-body {
          h1 {
            &:nth-child(2) {
              &::before {
                box-shadow: inset 0 0 10px 100px rgba(299, 137, 28, 1);
              }
            }
          }
        }
      }

      .media-left {
        margin-right: 50px;
        position: relative;
        height: 100%;
        z-index: -1;

        img {
          transition: 200ms;
          filter: grayscale(1);
          transform: perspective(10deg);
          border-radius: 20px 20px 0% 20px;
        }
      }

      .media-body {
        position: relative;
        
        h1 {
          font-family: 'Anybody',
            cursive;

          &:nth-child(2) {
            z-index: -1;
            position: absolute;
            color: transparent;
            left: 30px;
            top: -30px;

            &::before {
            transition: 200ms;
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              z-index: -1;
            }
          }
        }
      }
    }

    h1 {
      font-size: 4rem;
      display: inline-block;
      position: relative;
    }

    p {
      font-size: 1.1rem;
      color: #959595;

      a {
        color: #959595;
      }
    }
  }
}

.light {
  .timeline {
    .content {
      &.left {
        &::before {
          background-color: #898989;
        }
      }

      &.right {
        &::before {
          background-color: #898989;
        }
      }

      .media {
        &:hover {
          .media-left {
            img {
              box-shadow: 0px 0px 0px 20px rgba(299, 137, 28, 1);
            }
          }

          .media-body {
            h1 {
              &:nth-child(2) {
                &::before {
                  box-shadow: inset 0 0 10px 100px rgba(299, 137, 28, 1);
                }
              }
            }
          }
        }

        .media-left {
          svg {
            color: rgba($color: #898989, $alpha: 1);
          }
        }

        .media-body {
          h1 {
            &:first-child{text-shadow: 3px 3px 0px #eee;}
            &:nth-child(2) {
              &::before {
                box-shadow: inset 0 0 10px 100px rgba($color: #898989, $alpha: 1);
              }
            }
          }
        }
      }
    }
  }
}

.dark {
  .timeline {
    .content {
      &.left {
        &::before {
          background-color: #fff;
          box-shadow:
              0 0 7px #fff,
              0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px rgba(299, 137, 28, 1),
              0 0 82px rgba(299, 137, 28, 1),
              0 0 92px rgba(299, 137, 28, 1),
              0 0 102px rgba(299, 137, 28, 1),
              0 0 151px rgba(299, 137, 28, 1);
        }
      }

      &.right {
        &::before {
          background-color: #fff;
          box-shadow:
              0 0 7px #fff,
              0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px rgba(299, 137, 28, 1),
              0 0 82px rgba(299, 137, 28, 1),
              0 0 92px rgba(299, 137, 28, 1),
              0 0 102px rgba(299, 137, 28, 1),
              0 0 151px rgba(299, 137, 28, 1);
        }
      }

      .media {
        &:hover {
          .media-left {
            img {
              box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem rgba(299, 137, 28, 1),
                0 0 0.8rem rgba(299, 137, 28, 1),
                0 0 2.8rem rgba(299, 137, 28, 1),
                inset 0 0 1.3rem rgba(299, 137, 28, 1);
            }
          }

          .media-body {
            h1 {
              &:nth-child(2) {
                &::before {
                  box-shadow: inset 0 0 10px 100px rgba(299, 137, 28, 1);
                }
              }
            }
          }
        }

        .media-left {
          svg {
            color: rgba($color: #555, $alpha: 1);
          }
        }

        .media-body {
          h1 {
            &:first-child{text-shadow: 3px 3px 0px #222;}
            &:nth-child(2) {
              &::before {
                box-shadow: inset 0 0 10px 100px rgba($color: #555, $alpha: 1);
              }
            }
          }
        }
      }
    }
  }
}