.footer {
  padding: 4rem 0rem;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: rgba(299, 137, 28, 1);
  .name-logo {
    width: 24rem;
    margin-top: 1rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  h4 {
    a {
      font-size: 3rem;
      padding: 15px 2rem;

      svg {
        transition: 200ms;

        &:hover {
          // color: rgba(299, 137, 28, 1);
          transform: scale(1.4, 1.4);
        }
      }
    }
  }
}

.dark {
  .footer {
    h4 {
      a {
        color: #dfdfdf;
      }
    }
    .text-caption {
      color: #dfdfdf;
    }
  }
}

.light {
  .footer {
    h4 {
      a {
        color: rgba($color: #000000, $alpha: 1);
      }
    }
    .text-caption {
      color: rgba($color: #000000, $alpha: 1);
    }

    img {
      filter: brightness(0.2);
    }
  }
}