@font-face {
  font-family: "Haskoy";
  src: url(./assets/fonts/haskoy/Haskoy-Regular.woff2);
}

@font-face {
  font-family: "Haskoy";
  src: url(./assets/fonts/haskoy/Haskoy-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Haskoy";
  src: url(./assets/fonts/haskoy/Haskoy-ExtraBold.woff2);
  font-weight: 800;
}

@font-face {
  font-family: "Haskoy";
  src: url(./assets/fonts/haskoy/Haskoy-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Haskoy";
  src: url(./assets/fonts/haskoy/Haskoy-Thin.woff2);
  font-weight: 200;
}

@font-face {
  font-family: "Haskoy";
  src: url(./assets/fonts/haskoy/Haskoy-ExtraLight.woff2);
  font-weight: 100;
}

@font-face {
  font-family: "Haskoy";
  src: url(./assets/fonts/haskoy/Haskoy-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Haskoy";
  src: url(./assets/fonts/haskoy/Haskoy-SemiBold.woff2);
  font-weight: 600;
}

@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@800;900&family=Croissant+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  overflow-x: hidden;
  background-color: #f5f5f5;
}

#root>div {
  &.dark {
    color: #ffffff;
    background-color: rgba(12, 12, 12, 1);

    .position-sticky {
      background-color: rgba(34, 34, 34, 0.95);
    }

    .primary {
      color: #ffffff;
    }
  }

  &.light {
    color: #000;

    .position-sticky {
      background-color: rgba(225, 225, 225, 0.75);
    }

    .primary {
      color: #000;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Haskoy";
}

@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 426px) {
  html {
    font-size: 15px !important;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 13px !important;
  }
}