body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-weight: 300;
	letter-spacing: 0.05em;
	-webkit-font-smoothing: antialiased;
	/* -moz-osx-font-smoothing: grayscale; */
	// background-image: url('./assets/images/LR-3494.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	color: #ffffff;
	/* font-size: 16px; */
}
#root {
	backdrop-filter: blur(20px);
}
#root > div {
	background-color: rgba(12, 12, 12, 1);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway';
}

@media (min-width: 1600px) {
	.container {
		max-width: 1400px;
	}
}

@media (max-width: 426px) {
	html {
		font-size: 15px !important;
	}
}

@media (max-width: 376px) {
	html {
		font-size: 13px !important;
	}
}
