.banner {
	// background-image: url('./../../assets/images/banner.webp');
	// background-blend-mode: saturation(20);
	height: 100vh;
	cursor: default;
	position: relative;
	z-index: 6;


	// &:hover {
	// 	.img-over-text {
	// 		left: -180px
	// 	}
	// }

	.img-over-text {
		font-size: 100vh;
		position: absolute;
		top: -180px;
		left: 0;
		background-image: url('./../../assets/images/banner.webp');
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: uppercase;
		z-index: 0;
	}

	.video-bg {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		filter: brightness(0.7);
	}

	.container {
		background: inherit;
		display: flex;
		padding-top: 6rem;
		color: #000000;
		width: 100%;

		.row {
			background: inherit;

			.col-12 {
				position: relative;
				z-index: 2;
				padding: 30px;
				border-radius: 0px;
				background-color: rgba(171, 139, 101, 0.1);
				backdrop-filter: blur(50px);
			}
		}
	}

	h4 {
		font-weight: 300;
		font-size: 2rem;
	}

	h1 {
		font-family: 'Haskoy';
		filter: drop-shadow(5px 4px 0px rgba(299, 137, 28, 1));
		font-weight: 900;
		font-size: 4rem;
		letter-spacing: 0.3rem;
		color: #000000;
		word-break: break-all;
	}

	.btn-secondary {
		margin-top: 1rem;
		background-color: transparent;
		border: 1px solid rgba(0, 0, 0, 0.6);
		margin-right: 2rem;
		padding: 1rem 1.6rem;
		border-radius: 0;
		font-size: 1.2rem;
		transition: 200ms;
		// font-weight: 300;
		color: #000000;

		&:hover {
			// border: 1px solid rgba(299, 137, 28, 1);
			background-color: rgba(299, 137, 28, 1);
			color: #000000;
		}
	}
}

@keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}

	50% {
		backdrop-filter: brightness(0.8);
	}

	100% {
		backdrop-filter: brightness(1);
	}
}

@-moz-keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}

	50% {
		backdrop-filter: brightness(0.8);
	}

	100% {
		backdrop-filter: brightness(1);
	}
}

@-webkit-keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}

	50% {
		backdrop-filter: brightness(0.8);
	}

	100% {
		backdrop-filter: brightness(1);
	}
}

.dark {
	.banner {
		.img-over-text {
			// filter: drop-shadow(30px 30px 0px #000);
		}
	}
}