.banner {
	background-image: url('./../../assets/images/scr-outside2.jpg');
	background-blend-mode: saturation(20);
	background-size: cover;
	background-attachment: fixed;
}

.banner .backdrop {
	backdrop-filter: brightness(0.7);
	animation: blurring infinite 10s;
	-webkit-animation: blurring infinite 10s;
	-moz-animation: blurring infinite 10s;
}

@keyframes blurring {
	0% {
		backdrop-filter: brightness(0.7);
	}
	50% {
		backdrop-filter: brightness(0.4);
	}
	100% {
		backdrop-filter: brightness(0.7);
	}
}

@-moz-keyframes blurring {
	0% {
		backdrop-filter: brightness(0.7);
	}
	50% {
		backdrop-filter: brightness(0.4);
	}
	100% {
		backdrop-filter: brightness(0.7);
	}
}

@-webkit-keyframes blurring {
	0% {
		backdrop-filter: brightness(0.7);
	}
	50% {
		backdrop-filter: brightness(0.4);
	}
	100% {
		backdrop-filter: brightness(0.7);
	}
}

.banner .container {
	display: flex;
	align-items: center;
	color: #ffffff;
	height: 100vh;
	width: 100%;
}

.banner h4 {
	font-weight: 300;
	font-size: 2rem;
}

.banner h1 {
	font-family: 'Over the Rainbow';
	font-weight: 300;
	font-size: 4rem;
	letter-spacing: 0.3rem;
	color: rgba(255, 255, 255, 0.6);
}

.banner .btn-secondary {
	margin-top: 1rem;
	background-color: transparent;
	border: 1px solid #ffffff;
	margin-right: 2rem;
	padding: 1rem 1.6rem;
	border-radius: 3rem;
	font-size: 1.2rem;
	transition: 200ms;
	font-weight: 300;
}

.banner .btn-secondary:hover {
	border: 1px solid rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
}
