.banner {
    background-image: url('./../../assets/images/scr-outside2.jpg');
    background-attachment: fixed;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: 100vh;
    width: 100%;
    /* position: absolute; */
}

.banner::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.banner h4 {
    font-weight: 300;
    font-size: 2rem;
}

.banner h1 {
    font-weight: 300;
    font-size: 4.5rem;
}

.banner .btn-secondary {
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-right: 2rem;
    padding: 1rem 1.6rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    transition: 200ms;
    font-weight: 300;
}

.banner .btn-secondary:hover {
    background-color: #FFFFFF;
    color: black
}