.banner {
	// background-image: url('./../../assets/images/banner.webp');
	// background-blend-mode: saturation(20);
	height: 100vh;
	cursor: default;
	position: relative;
	z-index: 6;


	// &:hover {
	// 	.img-over-text {
	// 		left: -180px
	// 	}
	// }

	.img-over-text {
		font-family: 'Anybody', cursive;
		font-size: 100vh;
		position: absolute;
		top: 50px;
		left: 0;
		line-height: 100vh;
		background-image: url('./../../assets/images/banner.webp');
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		-webkit-background-clip: text;
		text-transform: uppercase;
		z-index: 0;
	}

	.video-bg {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		filter: brightness(0.7);
	}

	.container {
		background: inherit;
		display: flex;
		padding-top: 6rem;
		// color: #000000;
		width: 100%;

		.row {
			background: inherit;

			.col-12 {
				position: relative;
				z-index: 2;
				padding: 30px;
				border-radius: 0px;
				backdrop-filter: blur(50px);
			}
		}

		.type {
			&::after {
				content: '_';
				color: rgba(299, 137, 28, 1);
				animation: cursor 250ms infinite step-start;
			}
		}
	}

	h4 {
		font-weight: 300;
		font-size: 2rem;
		font-family: 'Anybody', cursive;
	}

	h1 {
		font-family: "Luckiest Guy", cursive;
		// text-shadow: 0.5px 0.5px 0px rgba(299, 137, 28, 1),
		// 	1.1px 1.1px 0px rgba(299, 137, 28, 1),
		// 	1.2px 1.2px 0px rgba(299, 137, 28, 1),
		// 	1.3px 1.3px 0px rgba(299, 137, 28, 1),
		// 	1.4px 1.4px 0px rgba(299, 137, 28, 1),
		// 	1.5px 1.5px 0px rgba(299, 137, 28, 1),
		// 	1.6px 1.6px 0px rgba(299, 137, 28, 1),
		// 	1.7px 1.7px 0px rgba(299, 137, 28, 1),
		// 	1.8px 1.8px 0px rgba(299, 137, 28, 1);
		// font-weight: 900;
		font-size: 4rem;
		letter-spacing: 2px;
		word-break: break-all;
		margin-bottom: 15px;
		background: -webkit-linear-gradient(0deg , #FF891C, #CC703F, #ab592c, #5f2a0d, #4b1b01);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.btn-secondary {
		margin-top: 1rem;
		font-family: 'Anybody', cursive;
		background-color: transparent;
		margin-right: 2rem;
		padding: 1rem 1.6rem;
		border-radius: 0;
		font-size: 1.2rem;
		transition: 200ms;
		// font-weight: 300;
		// color: #000000;

		&:hover {
			// border: 1px solid rgba(299, 137, 28, 1);
			background-color: rgba(299, 137, 28, 1);
			// color: #000000;
		}
	}
}

@keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}

	50% {
		backdrop-filter: brightness(0.8);
	}

	100% {
		backdrop-filter: brightness(1);
	}
}

@-moz-keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}

	50% {
		backdrop-filter: brightness(0.8);
	}

	100% {
		backdrop-filter: brightness(1);
	}
}

@-webkit-keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}

	50% {
		backdrop-filter: brightness(0.8);
	}

	100% {
		backdrop-filter: brightness(1);
	}
}

.dark {
	.banner {
		background-color: #000000;
		.btn-secondary {
			border: 1px solid rgba(255, 255, 255, 0.6);
			color: #fff
		}
		.img-over-text {
			-webkit-text-fill-color: rgba(0, 0, 0, 0.4);
		}
	}
}

.light {
	.banner{
		background-color: #eee;
		.btn-secondary {
			border: 1px solid rgba(0, 0, 0, 0.6);
			color: #000000
		}
		.img-over-text {
			-webkit-text-fill-color: rgba(299, 137, 28, 0.2);
		}
	}
}

@keyframes cursor {
	50% {
		opacity: 0;
	}
}