.banner {
	background-image: url('./../../assets/images/banner.webp');
	// background-blend-mode: saturation(20);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	height: 100vh;
	.backdrop {
		background: inherit;
		height: inherit;
		backdrop-filter: brightness(1);
		animation: blurring infinite 10s;
		-webkit-animation: blurring infinite 10s;
		-moz-animation: blurring infinite 10s;
	}
	.container {
		background: inherit;
		display: flex;
		padding-top: 6rem;
		color: #000000;
		width: 100%;
		.row {
			background: inherit;
			.col-12 {
				padding: 30px;
				border-radius: 30px;
				background-color: rgba(171, 139, 101, 0.1);
				backdrop-filter: blur(20px);
			}
		}
	}
	h4 {
		font-weight: 300;
		font-size: 2rem;
	}
	h1 {
		font-family: 'Sail', cursive;
		filter: drop-shadow(2px 2px 0px rgba(171, 139, 101, 1));
		font-weight: 300;
		font-size: 4rem;
		letter-spacing: 0.3rem;
		color: #000000;
		word-break: break-all;
	}
	.btn-secondary {
		margin-top: 1rem;
		background-color: transparent;
		border: 1px solid rgba(0, 0, 0, 0.6);
		margin-right: 2rem;
		padding: 1rem 1.6rem;
		border-radius: 5rem;
		font-size: 1.2rem;
		transition: 200ms;
		// font-weight: 300;
		color: #000000;
		&:hover {
			// border: 1px solid rgba(171, 139, 101, 1);
			background-color: rgba(171, 139, 101, 1);
			color: #000000;
		}
	}
}

@keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}
	50% {
		backdrop-filter: brightness(0.8);
	}
	100% {
		backdrop-filter: brightness(1);
	}
}

@-moz-keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}
	50% {
		backdrop-filter: brightness(0.8);
	}
	100% {
		backdrop-filter: brightness(1);
	}
}

@-webkit-keyframes blurring {
	0% {
		backdrop-filter: brightness(1);
	}
	50% {
		backdrop-filter: brightness(0.8);
	}
	100% {
		backdrop-filter: brightness(1);
	}
}
